<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear usuario</h1>
    <form action={%url "crear_cliente" %} method= "POST">
        {% csrf_token %}
    {% comment "" %}<p>
        Nombre
        <input type="text" name=nombre>
    </p> 
     <p>
        Apellido
        <input type="text" name=apellido>
     </p>
     <p> 
        Edad
        <input type="number"name=edad>
     </p>
        <input type="submit" value="Crear">
{% endcomment %}
<table>
    {{formulario}}
</table>
    </form>
</body>
</html>